<!-- captive-portal.component.html -->
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center p-5 shadow-lg rounded bg-dark text-white">
        <h1 class="display-4 text-white">Bienvenido a Tapinet</h1>
        <p class="lead">
            Para continuar navegando, por favor inicie sesión con su cuenta.
        </p>
        <button class="btn btn-primary btn-lg m-1" (click)="redirectToLogin()">Iniciar sesión</button>
        <button class="btn btn-warning btn-lg m-1" (click)="redirectToRegister()">Registrarse</button>
    </div>
</div>