<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center p-5 shadow-lg rounded bg-dark text-white">
        <h1 class="display-4 text-white">Tiempo de Conexion</h1>
        <p class="lead">
            Estamos verificando tu conexión a internet...
        </p>
        <p class="lead">
            Tiene <strong> X </strong> minutos de conexion gratis...
        </p>

        <button class="btn btn-primary" (click)="redirectToGoogle()">Ir a Google</button>
        
    </div>
</div>
